language: ruby
rvm:
  - 2.0.0

services:
  - redis-server
  - memcached
  - postgresql

before_script:
  - cp config/database.travis.yml config/database.yml
  - psql -c 'create database photographerio_test;' -U postgres
