div class="g-plus" data-action="share" data-annotation="none" data-height="24" data-clientid=(ENV['GOOGLE_CLIENT_ID'])

javascript:
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
