#account, #account-devise
  #account-nav
    .upload-quota
      .more
        font-size: 0.8em

      .used, .quota
        position: relative
        top: -8px
        font-size: 0.8em
        padding: 2px
      
      .used
        float: left

      .quota
        float: right

  #photographs-nav
    button.new-collection
      margin:
        top: 10px

  #account-dashboard
    ol.notifications
      width: 100%
      list-style: none
      margin: 0

      li
        padding: 10px
        margin-bottom: 10px
        @include box-shadow

        &.read
          opacity: 0.8

        &:nth-child(even)
          background: $body-bg - rgb(2,2,2)

        .image
          float: left
          width: 50px
          height: 50px
          margin:
            right: 10px

        .text
          float: left
          .subject, time
            display: block

          time
            color: $header-font-color + #333

  .panel:not(.callout)
    @include white-box

  fieldset
    margin-top: 10px
    border: none

  .delete-account
    float: right
