#account
  #account-nav

  #photographs-nav
    button.new-collection
      margin:
        top: 10px


#account, #account-devise
  .panel:not(.callout)
    @include white-box

  fieldset
    margin-top: 10px
    border: none
