form.edit_photograph
  .button.delete
    float: right

.hints
  ul
    padding-left: 20px
    li
      margin-bottom: 5px

#new_mass_edit
  &.edit-mode
    .photo-grid
      li.photo
        opacity: 0.6

        &.active
          opacity: 1  
          img
            box-shadow: 0 0 6px 1px $primary-color

  #MECollections
    @include dropdown-container(content, true, 400px)

    li
      margin-bottom: 5px

      &.hint
        font-size: 0.8em
        margin-bottom: 10px

      &:hover
        background: none
        cursor: default

      &.action
        margin-top: 10px

      label
        display: block
        font-size: 1em
        input
          margin-right: 5px
