- content_for(:stylesheets) do
  = stylesheet_link_tag "http://cdn.leafletjs.com/leaflet-0.5/leaflet.css"
  /[if lte IE 8]
    = stylesheet_link_tag "http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css"
  
  css:
    #photograph-map {
      height: 300px;
    }

- content_for(:javascript) do
  = javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"

  javascript:
    var photoLocation = [#{photograph.metadata.lat}, #{photograph.metadata.lng}];
    var map = L.map('photograph-map').setView(photoLocation, 13);
    L.tileLayer('http://{s}.tile.cloudmade.com/#{ENV['CLOUDMADE_API_KEY']}/997/256/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 18
    }).addTo(map);
    var marker = L.marker(photoLocation).addTo(map);

div id="photograph-map"
