@import "foundation_and_overrides"
@import "mixins"
@import "layout"
@import "account/account"
@import "account/collections"
@import "account/photographs"
@import "collections"
@import "pages"
@import "photographs"
@import "users"

form
  span.hint
    display: block
    color: $label-font-color
    font:
      size: 0.8em
    margin:
      top: 10px
      bottom: 20px

.button.secondary
  color: rgb(0,0,0)

  &:hover
    color: rgb(0,0,0)

.clear
  clear: both
