#layout-nav
  .title-area
    .name
      #logo
        a
          background: url(/assets/isoio.png) top left no-repeat
          display: block
          width: 96px
          height: 48px
          text-indent: -99999px

  #nav-search
    form
      input[type = 'submit']
        color: rgb(0,0,0)

#layout-footer
  margin:
    top: 30px
