body
  &.darkroom
    background: rgb(0,0,0)

#layout-nav
  .title-area
    .name
      #logo
        a
          background: image-url('photographer-io-logo.png') center no-repeat
          @include image-2x(image-url('photographer-io-logo@2x.png'), 250px, 48px)
          display: block
          width: 250px
          height: 48px
          text-indent: -99999px

  .random
    text-align: center

  #nav-search
    form
      input[type = 'submit']
        color: rgb(0,0,0)

#layout-footer
  margin:
    top: 30px
