.photo-grid
  .photo
    img
      box-shadow: 0 0 6px 1px rgba(0,0,0,.1)

    .caption
      opacity: 0.8
      font-size: 0.8em
      background: $body-bg + #222 image-url('glyphicons_halflings/glyphicons_halflings_045_camera.png') 8px center no-repeat
      @include image-2x(image-url('glyphicons_halflings/glyphicons_halflings_045_camera@2x.png'), 16px, 16px)
      box-shadow: 0 0 6px 1px rgba(0,0,0,.1)
      padding:
        top: 2px
        bottom: 2px
        left: 28px
        right: 5px

#photographs-index
  header
    text-align: center

#photographs-show
  .display
    text-align: center

    .image
      display: inline-block
      max-width: 100%

      img
        @include box-shadow

    .description
      display: none
      @include white-box
      width: 100%
      text-align: left
      font-size: 0.9em
      padding-bottom: 0

      h4, p
        margin-bottom: 0
        padding-bottom: 10px

#photographs-sidebar
  #photographs-creator
    @include white-box
    margin-bottom: 20px

    .avatar
      margin-bottom: 10px

    .button
      margin-bottom: 5px

  .interactions
    text-align: center

    .recommendations
      .recommend
        color: rgb(0,0,0)
      .recommended

    .favourites
      .favourite
        background: 
          image: image-url("favourite.png") 
          position: center
          repeat: no-repeat
      .unfavourite
        background:
          image: image-url("unfavourite.png")
          position: center
          repeat: no-repeat

  table
    width: 100%
