#photographs-index
  header
    text-align: center

#photographs-show
  .image
    text-align: center

.photo-grid
  .photo
    img
      box-shadow: 0 0 6px 1px rgba(0,0,0,.1)

#photographs-sidebar
  #photographs-creator
    margin:
      bottom: 20px

  .interactions
    text-align: center

    .recommendations
      .recommend
        color: rgb(0,0,0)
      .recommended

    .favourites
      .favourite
        background: 
          image: image-url("favourite.png") 
          position: center
          repeat: no-repeat
      .unfavourite
        background:
          image: image-url("unfavourite.png")
          position: center
          repeat: no-repeat

  table
    width: 100%
