#users-show
  .user-block
    width: 20%

    .panel
      margin-bottom: 0

    #user-panel, #user-biography
      @include white-box

      p:last-child
        margin: 0

    #user-biography
      font-size: 0.9em

#users-new
  #sign-up-area
    @include white-box
    margin-top: 20px

    #sign-up-spiel

      .content
        font-size: 0.9em

        ul
          padding-left: 20px

    #new_user
      .hint
        font-size: 0.7em
