#users-show
  #user-profile
    @include white-box
    margin:
      bottom: 60px

    #user-panel
      h1
        margin: 0

    #user-biography
      font-size: 0.9em

#users-new, #sessions-new, #invitations-new, #invitations-edit
  #sign-up-area, #sign-in-area
    margin-top: 20px

  #sign-up-area, #sign-in-area, #invite-area
    @include white-box

    .spiel
      .content
        font-size: 0.9em

        ul
          padding-left: 20px

  form
    a
      font-size: 0.8em
